.home {

  .pageHeader {
    .flexStatus (column, space-around, flex-start);
    width: 100%;
    border-bottom: 2px dashed @navigation-border;

    .fullWidthBar {
      margin: 0 -9999rem;
      border-bottom: 2px dashed @navigation-border;
      padding: 0.25rem 9999rem;
    }

    .fullWidthImg {
      width: 100%;
      padding-bottom: 2%;
    }

    .text-intro {
      width: 100%;
      margin-bottom: 2%;
    }

  }

  .content-section {
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

   
    
    .text-content {
      width: @textContentWidth;
      padding-right: 1%;
    }

    .img-content {
      width: @imgContentWidth;
      padding-left: 1%;

      img {
        border-radius: 10px;
      }
    }
  }

  .inverse-content {
    padding-bottom: 30px;
    border-bottom: 2px dashed @navigation-border;

    .text-content {
      padding-left: 1%;
      padding-right: 0;
    }

    .img-content {
      padding-right: 1%;
      padding-left: 0;
    }
  }

  .content-destination {
    width: 75%;
    margin: 0 auto 30px;

    img {
      border-radius: 10px;
    }
  }

  .content-pick {
    padding-top: 30px;
    border-top: 2px dashed @navigation-border;
    display: flex;
    justify-content: space-between;

    .destination {
      width: 30%;
      margin-bottom: 30px;

      button {
        .btn (@btn-bg);
      } 
    }
  } 
  
  .bookings {
    width: 100%;
    margin: 0 auto;
    
    .bookingForm {
      width: 75%;
      margin: 0 auto;
      .flexStatus (row, center, center);
      flex-wrap: wrap;
      
      .bookingFormInputs {
        width: 49%;
        text-align: center;
        padding-bottom: 3%;
      }

      .bookingFormSpecialInputs {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        padding-bottom: 4%;
        
        .packageName {
          font-family: 'Indie Flower', cursive;
          font-size: 2rem;
          
        }
        
        .submitBtn {
          .btn(@btn-bg);
        }
      }


    }
  }
  
  @media @tablet {
    .content-section {
      .flexStatus (column, center, center);

      

      .mobileSet {
        order: 1;
      }
      .text-content {
        margin-top: 1%;
        padding: 0 0 0 0;
        width: 100%;
      }
  
      .img-content {
        margin-top: 1%;
        padding: 0 0 0 0;
        width: 100%;
        text-align: center;
      }

    }

    .content-destination {
      width: 100%;
      
    }

    .content-pick {
      .flexStatus (column, center, center);

      .destination {
        width: 75%;
      }
    }

    .bookings .bookingForm {
      .flexStatus (column, flex-start, center);
    }
  }  
  
  @media @mobile  {
    .content-section .img-content {
      text-align: left;
    }
  }

  

}// home